.tableBlock {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.cardTop {
    height: 20px;
    margin-bottom: 10px;
}

h3 {
    margin: 0;
    padding: 0;
}

.row {
    overflow: hidden;
    height: 39px;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    overflow: hidden;
    -webkit-box-orient: vertical;
}

.changeState {
    padding-top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 100px;
}

.changeState button {
    margin-bottom: 10px;
    width: 80px;
}

p {
    margin: 0;
    padding: 0;
}