
.header{
    background-color: #61dafb;
    height: 70px;
    width: 1700px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 80px 10px 30px;
    align-items: center;
    color: white;
}
.header h1{
    margin-left: 120px;
}

.navbar{
    margin-left: 150px;
    background-color: #69799a;
    width: 250px;
    height: 900px;
    padding: 20px 0;
}

.navbar .nav{
padding-left: 100px;
}

.main {
    display: flex;
    flex-direction: row;
    width: 1700px;
}

.card {
    margin: 20px 40px 0 50px ;
    width: 1200px;
text-align: left;
}