.loginBody{
    height: 900px;
    width: 1800px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    color: white;
    background-color: green;
}

.loginBody .loginCard {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 350px;
    width: 500px;
    background-color: #61dafb;
}
.loginBody .loginCard .form-control{
    margin-bottom: 20px;
    height: 30px;
    width: 300px;
}